$colors: (
        main: (
                white: #ffffff,
                black: #000000,

                gray-10: #212121,
                gray-30: #424242,
                gray-40: #757575,
                gray-60: #9e9e9e,
                gray-70: #bdbdbd,
                gray-80: #fafafa,

                bg: #e1e1e1,
                dark: #5d99c6,
                light: #c3fdff,
                primary: #90caf9,
                text: #000000
        )
);

@function colors($scope, $color) {
  @return map-get(map-get($colors, $scope), $color);
}