// Follow BEM methodology, see: https://en.bem.info/methodology/
// Why? - Makes everything a lot tighter and more connected, making code easier to maintain
// General form: .block{__element[--modifier]}
// .block {}
// .block__element {}
// .block--modifier {}
// Useful links:
// Modified BEM - http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/
// https://en.bem.info/methodology/naming-convention/#alternative-naming-schemes
@import "colors";
@import "layout";
@import "mixins";
@import "vars";

.root-layout {
  background-color: colors(main, bg);
  color: colors(main, grey-10);
  display: flex;
  flex-flow: column nowrap;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 12px;
  height: 100%;
  overflow: auto;
  outline: 0;
  position: relative;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  white-space: normal;

  // Reset
  div, embed, canvas, hr, i, img, label, li, object, ol, p, span, strike, strong {
    @include no-padding;
    background: transparent;
    box-sizing: content-box;
    font-size: 100%;
  }

  a {
    color: colors(main, dark);

    &:visited {
      color: colors(main, dark);
    }
    &:hover {
      color: colors(main, primary);
    }
    &:active {
      color: colors(main, primary);
    }
  }

  .text-input {
    display: flex;
    line-height: 2em;

    input {
      border: 2px solid colors(main, dark);
      color: colors(main, text);
      font-size: 1em;
      outline: none;
      padding: $padding-xs;
      width: 100%;
    }
  }

  .message-item {
    background-color: colors(main, dark);
    color: colors(main, white);
    padding: $padding-xs;
    margin: $padding-xxs 0;

    &__controls {
      float: right;
      font-weight: bold;
      margin-left: $padding-xxs;
      opacity: 0;
    }

    &:hover {
      .message-item__controls {
        opacity: 1;

        span {
          cursor: pointer;
        }
      }
    }

    &__text{
      // background-color: colors(main, dark);
      // color: colors(main, white);
    }
  }

  .messages-container {
    display: flex;
    flex-flow: column nowrap;
    margin: $padding-xxs $padding-xs;
  }

  .messages-counter {
    font-weight: bold;
    padding: $padding-xs $padding-xs 0 $padding-xs;
    text-align: right;
  }
}
